body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div.metadata-wrapper {
  margin-top: 2em;
  font-size: 85%;
}

div.metadata-wrapper p {
  margin: 0;
}

div.metadata-wrapper p.source {
  margin-top: 1em;
}

div.hrecipe {
  border: 2px solid #000;
  padding: .5em 1em;
}

div.hrecipe span.hrlabel {
  font-weight: bold;
}

div.hrecipe h4 {
  font-weight: bold;
  font-size: 115%; 
}

div.hrecipe p.item {
  font-size: 1.6em;
  text-align: left;
  margin-top: 0px !important; 
}

div.hrecipe p.summary {
  padding-top: 0px;
  margin-top: 0px;
}

div.hrecipe ul.ingredients {
  padding-top: 0px;
  margin-top: 0px;
}

div.hrecipe li.ingredient {
  padding-top: 0px;
  margin-top: 0px;
}

div.hrecipe ul.instructions {
  list-style: none;
  margin: 1px 2px 1px 5px;
  padding: 1px 2px 1px 5px;
  text-align: left;
  font-style: italic;
  border-top: 2px solid #F4F4F4;
  border-bottom: 2px solid #F4F4F4;
  background-image: none;
  color: #444;
}

div.hrecipe li.instruction {
  margin: 1em 0;
}

div.hrecipe p.myrating {
  font-weight: bold;
}

div.hrecipe img.hrecipe_image  {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border-style: none;
  margin-left: 1px;
  margin-right: 1px;
  border: none !important;
}

div.hrecipe legend {
  background-color: white;
  font-weight: bold;
  margin-left: 2em;
  border-style: solid;
  border-width: thin;
  padding-left: 1em;
  padding-right: 1em;
}
